*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

body{
background-color: lightpink;
color:sienna;
font-family:Verdana, Geneva, Tahoma, sans-serif;
min-height: 50vh;
font-size: large;

}

header{
    font-size: 1 rem;
}
form{
    min-width: 2vh;
    min-height: 3.5vh;
    display: flex;
    justify-content: center;
}
header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, 
form button {
    padding: 0.4rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    background: white;
    border-radius: 2rem;
}

form button {
    color: sienna;
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.3rem;
}

form button:hover {
    color: white;
    background: sienna;
}

.fa-plus-circle {
    margin-top: 0.3rem;
    margin-left: -8px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.todo-list {
    min-width: 40%;
    list-style: none;
    
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

.todo li {
    flex: 1;
}

.trash-btn, 
.done-btn {
    color: sienna;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: aliceblue;
}

.done-btn {
    background: white;
}

.trash-btn {
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: white;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.done{
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
   
    background-color: white;
    padding: 0.4rem;
    padding-left: 1rem;
    font-size: 1rem;
    border-radius: 2rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

select {
    color:sienna;
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background:white;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select::hover::after {
    background: white;
    color:indianred;
}           